= form_for @user, {url: users_path} do |form|
  - if user.errors.any?
    #error_explanation
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name, '名前'
    .ui.big.icon.input
      = form.text_field :name
      %i.user.icon
  .field
    = form.label :email, 'メールアドレス'
    .ui.big.icon.input
      = form.text_field :email
      %i.envelope.outline.icon
  .field
    = form.label :password, 'パスワード'
    .ui.big.icon.input
      = form.password_field :password
      %i.key.icon
  .field
    = form.label :password_confirmation, '確認用パスワード'
    .ui.big.icon.input
      = form.password_field :password_confirmation
      %i.key.icon
  .actions
    = form.button "新規登録", class: 'ui labeled icon button olive' do
      %i.user.icon
      -if current_user
        変更
      -else
        新規登録
