%p#notice= notice
%p
  %strong Email:
  = @user.email
%p
  %strong Cryped password:
  = @user.crypted_password
%p
  %strong Salt:
  = @user.salt
= link_to 'Edit', edit_users_path(@user)
|
= link_to 'Back', users_path
