= form_for @project, url: group_projects_path(params[:group_id]) do |form|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - project.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title, "タイトル"
    .ui.big.icon.input
      = form.text_field :title
      %i.home.icon
  .field

    = form.label :video, "投稿したい画像・動画"
    #img_field{:onclick => "$('#file').click()"}
      ここをクリックしてファイルを選択ください
      / - if @blog.image.url.present?
      /   = image_tag(@blog.image.url)
      / - else
      /   %i.fas.fa-image
      /   %i.fas.fa-file-upload.add
    = form.file_field :video, class: "image", style: "display:none;", id: "file",:accept => 'image/*, video/*'
  %button.ui.compact.labeled.icon.button.olive
    %i.exchange.icon
    -if @project.title
      変更する
    -else
      作成する
