
.project
  .ui.center.aligned.container
    .project-show
      %p#notice= notice
      .project-show-main
        .title
          %span
            プロジェクト名
            %i.smile.outline.icon
          %br/
        %p.name
          = @project.title
        - if @project.video_url.match(/.mp4$/)
          = video_tag(@project.video.url, :controls =>true, :loop => true, width: "50%", height: "50%" )
        - else
          = image_tag(@project.video.url, width: "50%", height: "50%" )
          / carriewaveのメソッドを利用している(.url)
        .ui.message
          .header
            %i.smile.outline.icon
            アピール文
          %p
            = @project.content
        -if current_user.payjp_id.present?
          = link_to new_group_project_payment_path(params[:group_id], params[:id]) do
            .ui.teal.labeled.icon.button
              %i.smile.outline.icon
              この人を支援する！
        -else
          = link_to new_users_card_path do
            .ui.teal.labeled.icon.button
              %i.smile.outline.icon
              この人を支援する！
        = form_for @message,url: group_project_messages_path(@project.group_id, @project.id) do |f|
          = f.text_field  :content, placeholder: "自由にコメントして!"
          %button.ui.brown.labeled.icon.button
            %i.comment.icon
            伝える

        .project-messages
          .comments
            %span
              みんなのコメント
              %i.comments.icon

          - @project.messages.each do |message|
            %p.project-content
              = message.content
            %span.date
              = message.created_at
            -if message.user_id == current_user.id
              = link_to(group_project_message_path(params[:group_id], params[:id],message.id), method: :delete) do
                %button.ui.labeled.icon.button
                  %i.paint.brush.icon
                  削除
        .select-option
          = link_to  edit_group_project_path(params[:group_id],@project),id: "edit_project" do
            .ui.circular.google.plus.icon.button
              %i.edit.icon
              プロジェクト編集
          = link_to group_path(params[:group_id], @project), id: 'back_button' do
            .ui.circular.google.plus.icon.button
              %i.edit.outline.icon
              戻る




